```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.db
.python-version
.pytest_cache/
.mypy_cache/

# Database
db.sqlite3
*.sqlite3-journal

# Django
*.log
local_settings.py
db.json
media/
staticfiles/
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*.tmp

# OS
.DS_Store
Thumbs.db
```